.auth {
    height: 250px;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white-color;
    @include hoverBoxShadow;

    .aut-content {
        width: 100%;
        height: 100%;
        padding: 1rem;

        .auth-input-control {
            width: 100%;
            padding: .8rem .3rem;
            border: none;
            box-shadow: none;
            border-radius: 2px;
            background: $gray-color;
            opacity: .7;
        }

        .aut-botton {
            width: 100%;
            padding: .8rem .3rem;
            text-transform: uppercase;
        }

        .auth-footer {
            margin-top: .4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .6rem .2rem;

            .auth-ask {
                color: $dark-blue-color;
                opacity: .5;
                margin-right: .2rem;
            }
        }
    }
}