.task-grabble {
    cursor: grab;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .3);

    &:hover {
        box-shadow: rgb(179, 186, 197) 0px 4px 8px 0px, rgb(179, 186, 197) 0px 0px 1px 0px;
    }
}

.task-item {
    flex-basis: 100%;
    margin: .5rem 0;
    background: $white-color;
    padding: .7rem .5rem;

    border-radius: 2px;
    border: 1px dashed transparent;




    .task-footer {
        @include flex(null, space-between, flex-end);
        font-size: .85rem;
        font-weight: 200;
        height: 2.5rem;

        .issue-priority {
            i {
                margin-right: 7px;
            }
        }
    }
}