.button {
  padding: .4rem 1rem;
  border-radius: .2rem;
  transition: all ease-in-out .4s;
  background: $dark-blue-color;
  margin-right: .4rem;
  outline: none;
  border: none;
  color: $white-color;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: lighten($dark-blue-color, 60%);
    color: $dark-blue-color;
    box-shadow: 1px 1px 2px 1px lighten($dark-blue-color, 50%);
  }

  &.danger {
    background: $white-color;
    background-color: $red-color;

    &:hover {
      background: darken($red-color, 10%);
      color: $white-color;
    }

  }

  &.default {
    background: $gray-color;
    color: $dark-blue-color;
  }

  &.disable {
    background: darken($gray-color, 5%);
    color: darken($gray-color, 25%);
  }

}

//for styling the round section
.round {
  border-radius: 50%;
  padding: 20%;
  transition: background ease-in-out .4s;
  cursor: pointer;

  &:hover {
    background: lighten($dark-blue-color, 60%);
    box-shadow: 1px 1px 2px 1px lighten($dark-blue-color, 50%);
  }
}

//this will add the light back and dark colors the section or element
.light {
  background: lighten($dark-blue-color, 70%);
  color: $dark-blue-color !important;
}

.chips {
  padding: .1rem .2rem;
  border-radius: .1rem;
  background: lighten($dark-blue-color, 60%);
  margin-left: .3rem;
  cursor: pointer;
  color: $dark-blue-color;

  i {
    padding: .1rem;
    transition: all ease-in-out 400ms;

    &:hover {
      @include warning;
    }
  }
}