.success-text {
    color: $dark-green-color;
}

.danger-text {
    color: $red-color;
}

.attention-text {
    color: $orange-color;
}

.important-text {
    color: $blue-color;
}

.epic-text {
    color: $blueviolet-color;
}

.text-bold {
    font-weight: bold !important;
}